* {
  box-sizing: border-box;
}

html {
  background-color: #fef6e4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f3d2c1' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  outline: #f582ae;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #001858;
}


h1 {
  font-size: 28px;
  margin-bottom: 48px;
  text-shadow: 0 0 4px #fef6e4;
}

form {
  width: 464px;
  background-color: white;
  padding: 48px 32px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #001858;
  box-shadow: 2px 4px 36px #0003;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.fields label {
  margin-top: 16px;
  margin-bottom: 8px;
}

h4 {
  margin-bottom: 12px;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

input {
  font-size: inherit;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #001858;
}

input:focus {
  border-color: #f582ae;
  outline: #f582ae;
  box-shadow: 0 0 10px 4px #f582ae57;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0;
}

.radio-group {
  cursor: pointer;
  display: flex;
  margin: 0;
  margin-right: 8px;
  font-size: 14px;
}

input[type="radio"] {
  margin: 0;
  cursor: pointer;
  appearance: none;
  padding: 0;
  font-size: 0;
  border: none;
}

input[type="radio"]+label {
  cursor: pointer;
  border: 1px solid;
  border-color: #001858;
  padding: 4px 8px;
  border-radius: 8px;
  opacity: 0.6;
  box-shadow: 1px 2px 10px #0001;
}

input[type="radio"]:checked+label {
  border-color: #001858;
  opacity: 1;
  background-color: #001858;
  color: white;
}

button {
  font-size: inherit;
  padding: 8px 32px;
  border-radius: 50px;
  border: 1px solid #001858;
  color: #001858;
  background-color: #f582ae;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: 1px 2px 10px #0001;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

#token {
  height: 100px;
  background-color: #f3d2c1;
  border: 1px solid #001858;
  width: 464px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  padding-bottom: 36px;
  box-shadow: inset 2px 4px 8px #0001;
}

#token span {
  opacity: 0.4;
}

.container {
  position: relative;
}

#message {
  position: absolute;
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  background: #f582aeaa;
  padding: 8px 24px;
  border-radius: 50px;
  visibility: hidden;
}

#copy-button {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.4;
  display: none;
}